# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.myenv/

# Django
*.log
db.sqlite3
media/
resumes/
staticfiles/

# OS
.DS_Store
Thumbs.db
